@* Views/Employees/Delete.cshtml *@
@model Barber.Models.Employee

@{
    ViewBag.Title = "Usuń Pracownika";
}

<h2 class="mb-4 text-danger">Usuń Pracownika</h2>
<p>Czy na pewno chcesz usunąć tego pracownika?</p>

<dl class="row mb-4">
    <dt class="col-sm-3">Imię</dt>
    <dd class="col-sm-9">@Model.FirstName</dd>

    <dt class="col-sm-3">Nazwisko</dt>
    <dd class="col-sm-9">@Model.LastName</dd>

    <dt class="col-sm-3">Specjalizacja</dt>
    <dd class="col-sm-9">@Model.Specialization</dd>
</dl>

<form method="post" asp-action="Delete" asp-route-id="@Model.Id">
    <button type="submit" class="btn btn-danger">Usuń</button>
    <a class="btn btn-secondary" href="@Url.Action("Index","Employees")">Anuluj</a>
</form>
