@* Views/Appointments/Details.cshtml *@
@model Barber.Models.Appointment

@{
    ViewBag.Title = "Szczegóły Wizyty";
}

<h2 class="mb-4">Szczegóły Wizyty</h2>

<dl class="row">
    <dt class="col-sm-3">Klient</dt>
    <dd class="col-sm-9">@Model.Customer?.FirstName @Model.Customer?.LastName</dd>

    <dt class="col-sm-3">Usługa</dt>
    <dd class="col-sm-9">@Model.Service?.Name</dd>

    <dt class="col-sm-3">Pracownik</dt>
    <dd class="col-sm-9">@(Model.Employee != null ? Model.Employee.FirstName + " " + Model.Employee.LastName : "Brak")</dd>

    <dt class="col-sm-3">Data</dt>
    <dd class="col-sm-9">@Model.AppointmentDate</dd>

    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">@Model.Status</dd>
</dl>

<a class="btn btn-secondary" href="@Url.Action("Index","Appointments")">Powrót do listy</a>
