@* Views/Customers/Delete.cshtml *@
@model Barber.Models.Customer

@{
    ViewBag.Title = "Usuń Klienta";
}

<h2 class="mb-4 text-danger">Usuń Klienta</h2>
<p>Czy na pewno chcesz usunąć tego klienta?</p>

<dl class="row mb-4">
    <dt class="col-sm-3">Imię</dt>
    <dd class="col-sm-9">@Model.FirstName</dd>

    <dt class="col-sm-3">Nazwisko</dt>
    <dd class="col-sm-9">@Model.LastName</dd>

    <dt class="col-sm-3">Telefon</dt>
    <dd class="col-sm-9">@Model.PhoneNumber</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>
</dl>

<form method="post" asp-action="Delete" asp-route-id="@Model.Id">
    <button type="submit" class="btn btn-danger">Usuń</button>
    <a class="btn btn-secondary" href="@Url.Action("Index","Customers")">Anuluj</a>
</form>
